<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudKeep</title>
    <link href="/output.css" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.css" rel="stylesheet">
</head>
<body class=" bg-slate-800" >
    <header>
       <%- include("Reuse/Navbar") %>
    </header>



    <main class="pt-20">

        <section id="Home">
            <form action="/user/register" method="get">
                <button type="submit"  class="text-white m-5 bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 me-2 mb-2">
                     Register User
                    </button>
                </form>
                <form action="/user/login" method="get">
                    <button type="submit"  class="text-white m-5 bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 me-2 mb-2">
                         Login
                        </button>
                    </form>
        </section>


        <section id="About">
            
        </section>

        <section id="Pricing">

        </section>
        
        </main>



    
        


    

<footer>
    <%- include("Reuse/Footer") %>
</footer>
  
      



   


        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.1/dist/flowbite.min.js"></script>    
</body>
</html>